
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

doctype html

div.wrapper
    div.auth
        div.auth-container
            div.logo-svg
                include ../../svg/logo-color.svg
            h1.logo Medipro

            include ../includes/modules/verify-email-form
