
//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.
//-
//- Copyright (c) 2021-present Kaleidos Ventures SL

doctype html

div.error-main
    div.error-container
        img(src="#{v}/svg/logo.svg", alt="TAIGA", width="143px")
        h1.logo Medipro
        p(translate="ERROR.TEXT1")
        a(href="/", title="", translate="COMMON.GO_HOME")
