@mixin triangled-bg {
    // background: url('../images/bg.png') no-repeat center center;
    background: url('https://static.wixstatic.com/media/0d02b2_6524514529f542d9a7968294943255da~mv2.jpg/v1/fill/w_3360,h_1684,q_90/0d02b2_6524514529f542d9a7968294943255da~mv2.webp') no-repeat center center;
    background-size: cover;
}

@mixin background-taiga {
    background: url('../images/invitation_bg.jpg') no-repeat center center;
    background-size: cover;
}